ul {
    list-style: none;
    
}

li {
    cursor: pointer;
    font-size: 24px;
   
}

input{
    width: 100%;
}

li i{
    font-size: 24px;
    color: red;
}

header {
    background-color: rgb(0, 153, 255);
}

.arrow {
    animation-name: arrowLeft;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 6;
    animation-direction: alternate;
    position: relative;
    font-size: 24px;
}

@keyframes arrowLeft {
    0%   {left:0px; top:0px;}
 
    50%  {left:25%; top:0px;}

    100% {left:0px;top:0px;}
}
