<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="./css/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
    />
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <header class="py-3">
        <div class="container-fluid">
            <h1 class="text-center">To Do List</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="card">
                <!-- CARD INPUT & BUTTON -->
                <div class="card-header d-flex">
                    <div class="col-8 d-flex justify-content-center align-items-center">
                        <input type="text" v-model.trim="inputValue">
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-primary" @click="addTask()">
                        Aggiungi
                        </button>
                    </div>
                </div>
                <!-- CARD BODY -->
                <div class="card-body d-flex">
                    <ul>
                        <!-- X components -->
                        <li
                        v-for="(el,i) in toDoList"
                        @click="taskCompleted(i)"
                        >
                            <span id="x">X</span>
                        </li>
                    </ul>
                    <ul>
                        <!-- to do list components -->
                        <li 
                        v-for="(task,i) in toDoList"
                        :class="addDecoration(task)"
                        >
                            {{ task.text }}
                            
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    </main>

</div>
<script src="./js/app.js"></script>
</body>
</html>